
.headline {
    font-size: 3rem;
    display: flex;
    align-items: center;
    height: 48px;
    margin-bottom: 40px;
}


.bulb-text-container {
    display: flex;
    margin-top: 24px;
}


.puzzle-text-container {
    display: flex;
    margin-top: 24px;
}

.shadow-purple-container {
    width: 98vw;
    z-index: 1;
    overflow: hidden;
    height: 800px;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    margin-top: -115px;
}

.shadow-purple {
    overflow: hidden;
    margin-right: -413px;
    margin-top: -28px;
}

.shadow-purple-img {
    overflow: hidden;
    height: 800px;
    width: auto;
}

.about-container {
    margin: 24px;
    margin-top: 112px;
    color: white;
    overflow: hidden;
    z-index: 999;
}


.puzzle-text {
    margin-left: 24px;
}


.bulb-text {
    margin-left: 24px;
}


@media only screen and (min-width: 900px) {
.about-container {
    margin-right: 30vw;
    margin-left: 64px;
}
}