
.headline {
    font-size: 3rem;
    display: flex;
    align-items: center;
    height: 48px;
    margin-bottom: 40px;
}


.bulb-text-container {
    display: flex;
    margin-top: 24px;
}


.puzzle-text-container {
    display: flex;
    margin-top: 24px;
}


.about-container {
    margin: 24px;
    margin-top: 112px;
    color: white;
}


.puzzle-text {
    margin-left: 24px;
}


.bulb-text {
    margin-left: 24px;
}


@media only screen and (min-width: 900px) {
.about-container {
    margin-right: 64px;
}
}