
<div class="shadow-purple-container">
    <div class="shadow-purple">
        <img class="shadow-purple-img" src="assets/img/Purple shadow 1.png" alt="">
    </div>
</div>  

<div data-aos="fade-right" class="about-container">  
    <div class="headline">About me</div>
    <span>Hello! I'm Fabian, a passionate frontend developer based in the beautiful region of Bavaria. I am dedicated to creating user-friendly, interactive and responsive websites with clean, efficient and well-commented code.</span>
    <div class="bulb-text-container">
        <div><img src="assets/img/lightbulb.svg" alt="lightbulb"></div>
        <div class="bulb-text">I began my journey as a self-taught developer, continually refining and advancing my skills over the years. My commitment and interest in technology and its potential to solve problems and create incredible experiences led me to where I am today.</div>
    </div>
    <div  class="puzzle-text-container">
        <div><img src="assets/img/puzzle.svg" alt="puzzle"></div>
        <div class="puzzle-text">I specialize in using modern technologies such as HTML5, CSS3, JavaScript, and popular frameworks like Angular. I continually stay updated on the latest industry trends and advancements to deliver quality work and exceed client expectations.</div>
    </div>
</div>
