
<div class="about-container" id="aboutMe">
    <div class="headline">About me</div>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis reprehenderit necessitatibus architecto ab obcaecati commodi ducimus ipsam atque aspernatur harum beatae voluptatum cupiditate ad, nemo a earum placeat sapiente tempora!</span>
    <div class="bulb-text-container">
        <div><img src="assets/img/lightbulb.svg" alt="lightbulb"></div>
        <div class="bulb-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad, esse! Veniam quo saepe officia, suscipit tempore reprehenderit consequuntur voluptas, et quia repudiandae assumenda cum tenetur hic. Soluta, et quasi. Mollitia.</div>
    </div>
    <div  class="puzzle-text-container">
        <div><img src="assets/img/puzzle.svg" alt="puzzle"></div>
        <div class="puzzle-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod corrupti nisi aliquam provident vel, inventore doloribus error alias quibusdam! Libero error suscipit consectetur repudiandae, laborum voluptate expedita tempore. Quaerat, incidunt!</div>
    </div>
</div>
