.social-media-icons {
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    z-index: 999;
    gap: 64px;
    margin-left: 8vw;
     
    img {
        cursor: pointer;
        transition: all 0.5s ease-in-out 0s;
        &:hover {
            transform: scale(1.15);
    }
}


    .linkedin-icon {
        z-index: 999;
    }
 }
 
 