.purble-line{
    border-color: #9747FF;
    border-style: solid;
    height: 0px;
    width: 15vw;
    border-width: 5px;
    display: flex;
    align-items: center;
    margin-top: 44px;
    justify-content: flex-start;
 }