.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #141D2F;
    height: 10vh;
    
}

.fabianIcon {
    height: 5vh;
    width: auto;
    cursor: pointer;
    margin-top: 16px;
    margin-left: 16px;
}

.hamburgerIcon {
    margin-top: 19px;
    margin-right: 16px;
    cursor: pointer;
}
