<div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="3000" class="project-container">
    
    <div class="project-img"><img class="el-pollo-loco-img" src="assets/img/El_Pollo_Loco_nonBorder.png" alt="el pollo loco image"></div>


    <div class="project-img-all-container">
    <div class="project-name">El Pollo Loco</div>
    <div class="project-skills">JavaScript | HTML | CSS</div>
    <div class="text">

    
    <div class="project-descreption">
        A simple Jump-and-Run game based on an object-oriented approach. 
        Help Pepe to find coins and poison bottles to fight against the killer chicken.
        </div>
    </div>    
    <div class="project-btn-container">
        
        <a href="https://fabian-duerr.developerakademie.net/El_Pollo_Loco/El_Pollo_Loco_index.html" target="_blank">
        <button class="project-liveTest-btn">Live Test</button>
    </a>
        
        <a href="https://github.com/DinefGH/El-Pollo-Loco" target="_blank">
        <button class="project-github-btn" >Github</button>
    </a>
</div>
    </div>
</div>
