.navbar-close {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}
.menu-color-close {
    background-color: rgba(0,0,0,0.1)
}

.fabianIcon {
    height: 5vh;
    width: auto;
    cursor: pointer;
}

.hamburgerIcon {

}