<div class="contact-container">

  <div class="contact-headline-line">
<div class="contact-line"></div>
<div class="contact-headline-big">Contact</div>
</div>
<div class="contact-text-container">
<div class="contact-headline-small">Need a Frontend developer? Contact me!</div>
<div>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work. <br>
<br>
Need a Frontend developer? Contact me!
</div>
</div>





<form class="form" (submit)="sendMail($event)" ngNativeValidate #myform>
    <input  class="input-name" required type="text" name="name" placeholder="Your name" #nameField>
    <input  class="input-email" required type="email" name="email" placeholder="Your email" #emailField>
    <textarea  class="input-text" required type="text" name="message" placeholder="Your message" #messageField></textarea>
    <button [disabled]="isButtonDisabled" [ngClass]="{'contact-send-button': canSend, 'contact-cannotsend-button': cannotSend}" #sendButton>


      
      Send message
    </button>
</form>
</div>

<div *ngIf="showDialog" class="dialog-box">
  <p>Message was sent!</p>
  <button class="contact-send-button" (click)="closeDialog()">Close</button>
</div>



