.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}


.contact-headline-line {
    display: flex;
    margin-top: 112px;
    align-items: center;
    margin-bottom: 40px;
    height: 48px;
}


.contact-line {
    border-color: #9747FF;
    border-style: solid;
    height: 0px;
    width: 5vw;
    border-width: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.contact-headline-big {
    font-size: 3rem;

}


.contact-headline-small {
    font-size: 1.4rem;
    margin-bottom: 24px;

}


.contact-text-container {
    margin-right: 16px;
    margin-left: 16px;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input-name {
    background-color: #141D2F;
    border-style: solid;
    border-color: #9747FF;
    border-radius: 10px;
    border-width: 3px;
    width: 90%;
    height: 40px;
    margin-top: 32px;
    padding-left: 16px;
    font-size: 16px;
    color: white;
}


.input-email {
    background-color: #141D2F;
    border-style: solid;
    border-color: #9747FF;
    border-radius: 10px;
    border-width: 3px;
    width: 90%;
    height: 40px;
    margin-top: 32px;
    padding-left: 16px;
    font-size: 16px;
    color: white;
}


.input-text {
    background-color: #141D2F;
    border-style: solid;
    border-color: #9747FF;
    border-radius: 10px;
    border-width: 3px;
    width: 90%;
    height: 162px;
    margin-top: 32px;
    padding-left: 16px;
    padding-top: 16px;
    font-size: 18px;
    color: white;
}


.contact-send-button {
    background-color: #70E61C;
    color: white;
    border-radius: 10px;
    border: none;
    width: 158px;
    height: 49px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 64px;


}


.contact-cannotsend-button {
    background-color: gray;
    color: white;
    border-radius: 10px;
    border: none;
    width: 158px;
    height: 49px;
    font-size: 1.2rem;
    cursor: initial;
    margin-top: 64px;
}

.dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #141D2F;
    padding: 20px;
    border: 3px solid #9747FF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
}


.input-name {
    width: 89%;
}


.input-email {
    width: 89%;
}


.input-text {
    width: 89%;
}


.shadow-purpleContact-container {
    width: 100%;
    z-index: -8;
    overflow: hidden;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    margin-top: -88px;
}


.shadow-purpleContact {
    overflow: hidden;
    margin-left: -113px;
    margin-top: -15px;
}


.shadow-purpleContact-img {
    overflow: hidden;
    height: 450px;
    width: auto;
}


.shadow-greenContact-container {
    width: 100%;
    z-index: -8;
    overflow: hidden;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: flex-start;
    margin-top: -88px;
}


.shadow-greenContact {
    overflow: hidden;
    margin-left: -113px;
    margin-top: -15px;
}


.shadow-greenContact-img {
    overflow: hidden;
    height: 450px;
    width: auto;
}


@media only screen and (min-width: 900px) {


    .contact-headline-line {
        margin-top: 220px;
    }

    .contact-headline-big {
        margin-left: 64px;
    }

    .form {
        margin-left: 64px;
        margin-right: 64px;
    }

    .input-name {
        width: 100%;
    }


    .input-email {
        width: 100%;
    }


    .input-text {
        width: 100%;
    }

    .contact-text-container {
        margin-left: 64px;
        margin-right: 64px;
    }


    .contact-send-button {

        &:hover {
            background-color: #9747FF;
        }
    }


    .shadow-purpleContact-container {
        width: 100%;
        z-index: -8;
        overflow: hidden;
        height: 200px;
        position: absolute;
        display: flex;
        justify-content: flex-start;
        margin-top: -88px;
    }


    .shadow-purpleContact {
        overflow: hidden;
        margin-left: -113px;
        margin-top: -15px;
    }


    .shadow-purpleContact-img {
        overflow: hidden;
        height: 450px;
        width: auto;
    }
}