<div class="picture-name-container" id="navbar">

 <div class="picture-container">
    <img class="picture-purpleGreen-shadow" src="/assets/img/photo shadows.png" alt="purple green shadow">
    <img class="picture-body" src="assets/img/mann.png" alt="picture person">
</div>

<div class="text-button-container">
    <div class="text-container">
            <div class="Iam">I am</div>
        <div class="name-frontend">
        <span class="name">Fabian Duerr</span><br>
        <span class="frontend">FRONTEND DEVELOPER</span>
        </div>

    </div>

<a href="#contact" >
    <button class="talk-button">Let´s talk! </button>
</a>
</div>
</div>
