<router-outlet>
<app-navbar class="navbar-website"></app-navbar>
<app-overlay-menu class="overlay-menu"></app-overlay-menu>
<app-picture-name></app-picture-name>
<div class="social-line">
<app-lines class="line"></app-lines>
<app-social-icons class="socials"></app-social-icons>
</div>
<app-about-me class="about"></app-about-me>
<app-my-skills class="my-skills-container"></app-my-skills>
<app-portfolio-headline></app-portfolio-headline>
<app-project class="project-join"></app-project>
<app-project1 class="project-el-pollo-loco"></app-project1>
<app-project2></app-project2>
</router-outlet>
