body {
    background-color: #141D2F;
    margin: 0;
    padding: 0;
}

.navbar-website {
    
}

.overlay-menu {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}