.justify-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headline-line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 112px;
    margin-bottom: 40px;
    height: 48px;
}

.headline {
    color: white;
    font-size: 48px;
    height: 48px;
    display: flex;
    align-items: center;
}

.line-skills {
    border-color: #9747FF;
    border-style: solid;
    height: 0px;
    width: 5vw;
    border-width: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.skills-descreption {
    width: 70vw;
    margin-left: 20vw;
    color: white;
    display: flex;
    text-align: right;

}

.skills-icon-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
    gap: 48px;
    margin-left: 16px;
    margin-right: 16px;
}



.getInTouch-button {
    background-color: #70E61C;
    color: white;
    border-radius: 10px;
    border: none;
    width: 158px;
    height: 49px;
    font-size: 1.2rem;
    cursor: pointer;
}

.getInTouch-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.getInTouch-button-container-desktop {
    display: none;
}

@media only screen and (min-width: 900px) {
    .skills-container {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 120px;
    }

    .skills-descreption {
        width: 30vw;
        margin-left: 0;
        margin-right: 64px;
        text-align: center;
    }

    .skills-icon-container {
        margin-top: 100px;
        width: 70vw;
        margin-left: 64px;
        gap: 90px;
    }

    .getInTouch-button-container {
        display: none;
    }

    .getInTouch-button-container-desktop {
        width: 30vw;
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }


    .getInTouch-button {

        &:hover {
            background-color: #9747FF;
        }
    }
}
