.imprint-container {
    margin-top: 112px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.imprint-line{
    border-style: solid;
    border-width: 4px;
    color: #70E61C;
}

.imprint-name-big {
    margin-top: 72px;
    font-size: 3rem;
    height: 48px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imprint-name-small {
    margin-top: 72px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    height: 22.4px;
}


.purple {
    color: #9747FF ;
 }


.green {
color: #70E61C;
}


.imprint-socials {
    display: flex;
    justify-content: center;
    margin-left: -8vw;
}

.imprint-button {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    color: white;
    margin-top: 48px;
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
}

.fabianIcon {
    height: 7vh;
    width: auto;
    cursor: pointer;
}

.link {
    color: white;
    text-decoration: none;
}


@media only screen and (min-width: 900px) { 

    
    .imprint-name-buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 72px;
        margin-left: 64px;
        margin-right: 64px;
    }

    .imprint-socials {
        margin-top: -48px;
    }

    .imprint-name-small {
        margin-top: 0;
    }

    .imprint-name-big {
        margin-top: 0;
    }

    .social-media-icons {
        margin-top: 0;
    }


    .imprint-button {
        margin-top: 0;
        margin-left: 64px;
        justify-content: flex-start;
    }

    .imprint-button {

        &:hover {
            color: #9747FF;
        }
        
    }

    .hoover-portfolio {

        &:hover {
            color: #70E61C;
        }
    }
}

