<div class="project-container">
    
    <div class="project-img"><img class="join-img" src="assets/img/Join_noneBorder.png" alt="join image"></div>
    <div class="project-name">Join</div>
    <div class="project-skills">JavaScript | HTML | CSS</div>
    <div class="text">

    
    <div class="project-descreption">
            Task manager inspired by the Kanban System. 
        Create and organize tasks using drag and drop functions, 
        assign users and categories.
        </div>
    </div>    
    <div class="project-btn-container">
        <button class="project-liveTest-btn">Live Test</button>
        <button class="project-github-btn">Github</button>
    </div>
</div>
