<nav [class.displayNone]="isMyClassNoneVisible">
    <div class="navbar">
        <span><img class="fabianIcon" src="/assets/img/Fabian_Logo.svg" alt="Icon"></span>
        <span class="example-spacer"></span>

        <img (click)="openOverlay()" class="hamburgerIcon" src="assets/img/hamburger-icon.svg" alt="hamburger icon">
    </div>
</nav>


<app-index [class.displayNone]="isMyClassNoneVisible"></app-index>



<nav [class.displayNone]="isMyClassVisible">
    <div class="navbar-close">
        <span><a routerLink=""><img class="fabianIcon" src="/assets/img/Fabian_Logo.svg" alt="Icon"></a></span>
        <span class="example-spacer"></span>

        <img (click)="closeOverlay()" class="hamburger-icon-close" src="assets/img/close-hamburger-icon.svg"
            alt="hamburger icon">
    </div>
</nav>

<div [class.displayNone]="isMyClassVisible">
    <div class="overlay-headlines-container">
        <div class="headlines">

    <a class="link" href="#aboutMe">
        <span class="link" (click)="closeOverlay()">About me</span>
    </a>

    <a class="link" href="#mySkills">
        <span class="link" (click)="closeOverlay()">My skills</span>
    </a>

    <a class="link" href="#portfolio">
        <span class="link" (click)="closeOverlay()">Portfolio</span>
    </a>

    <a class="link" href="#contact">
        <span class="link" (click)="closeOverlay()">Contact</span>
    </a>
        </div>
    </div>
</div>