<div class="project-container">
    
    <div class="project-img"><img class="pokedex-img" src="assets/img/Pokedex_noneBorder.png" alt="pokedex image"></div>
    <div class="project-name">Pokédex</div>
    <div class="project-skills">JavaScript | HTML | CSS | Api</div>
    <div class="text">

    
    <div class="project-descreption">
        Based on the PokéAPI a simple library that provides and catalogues pokemon information.
        </div>
    </div>    
    <div class="project-btn-container">
        
        <button class="project-liveTest-btn">Live Test</button>
        <a href="https://github.com/DinefGH?tab=repositories" target="_blank">
        <button class="project-github-btn">Github</button>
    </a>
    </div>
</div>

