<div class="project-container">
    
    <div class="project-img"><img class="pokedex-img" src="assets/img/Pokedex_noneBorder.png" alt="pokedex image"></div>


    <div class="project-img-all-container">
    <div class="project-name">Pokédex</div>
    <div class="project-skills">JavaScript | HTML | CSS | Api</div>
    <div class="text">

    
    <div class="project-descreption">
        Based on the PokéAPI a simple library that provides and catalogues pokemon information.
        </div>
    </div>    
    <div class="project-btn-container">
        


        
        <a href="https://fabian-duerr.developerakademie.net/Pokedex_Rework/PokedexIIndex.html" target="_blank">
        <button class="project-liveTest-btn">Live Test</button>
        </a>

        <a href="https://github.com/DinefGH?tab=repositories" target="_blank">
        <button class="project-github-btn">Github</button>
    </a>
</div>
    </div>
</div>


<div class="shadow-greenContact-container">
    <div class="shadow-greenContact">
        <img class="shadow-greenContact-img" src="assets/img/Green_shadow.png" alt="">
    </div>
  
  

